<h1>Editing Profile</h1>
<div id="edit-profile-wrapper">
  <%= render 'form', profile: @profile %>
  
  <% if current_user.try(:admin?) %>
    <%= link_to 'Show', @profile , {:class=>"btn btn-info"} %> |
    <%= link_to 'Back', profiles_path, {:class=>"btn btn-success"} %>
  <% else %>
    <%= link_to 'Show', @profile,  {:class=>"btn btn-info"} %>
  <% end %>
</div>
