<div id="about-wrapper">

  <div id="about-container">

    <h2> About Us </h2>
	<hr/>
    <div id="about-content">
      <div>
       'MyKeyring' was launched in Sep 2017 by founders Imran Zulfiqar and Witold.
      </div>
      <hr/>
      <div>
       The purpose of this website is to present a platform whereby consumers can purchase a variety of novelty merchandise at their own leisure.
      </div>
      <hr/>
      <div>
       An interesting array of delicately created keyrings, each individually crafted by hand. We offer personalisation of products too, so do not hesitate to ask about our extra services. Images are NOT prints but individually hand drawn pieces inserted into the keychains. 
       So grab a coffee, sit back and take a moment to select the pefect gift for a loved one (or yourself, no less.)
      </div>
      <hr/>
      <div>
      100% Irish owned and we deliver worldwide. 50% of all proceeds go to charity.
      </div>
  </div>
  
</div>
